.cont {
    background-color: #1f2833;
    color: #c5c6c7;
    float: left;
    width: 100%;
    min-height: 100%;
}

.wrapper {
    display: grid;  
    grid-template-columns: 33% 33% 33%;
    text-align: center;
}

.col {
    padding: 10px; 
    display: grid;
}

a {
    color: #45a29e;
    position: relative;
    left: 47%;
    right: 53%;
}

a:hover {
    color: #c5c6c7;
}

img {
    position: relative;
    top: 10%;
    left: 20%;
}