<div class="cont">
  <div class="wrapper">
    <div class="col">
      <span *ngFor="let key of keyNames"> {{ key }}: </span> <br>
    </div>
    <div class="col">
      <span *ngFor="let key of keys">
        {{ key }}
      </span> <br>
    </div>
  </div>
  <div>
    <form [formGroup]="form" class="form-group" 
      (ngSubmit)="onSubmit(form.value)">
      <div *ngFor="let key of keyNames" class="form">
        <label for="inp">{{ key }}: </label>
        <input type="text" id="inp" class="form-control"
          [formControl]="form.controls[key]">
      </div>
      <button type="submit" class="btn btn-secondary">Сохранить изменения</button>
    </form>
  </div>
  <a [routerLink]="['']">Назад</a>
</div>
