.cont {
    background-color: #1f2833;
    color: #c5c6c7;
    float: left;
    width: 100%;
}

.wrapper {
    display: grid;  
    grid-template-columns: 30% 70%;
    text-align: center;
}

.col {
    padding: 10px; 
    display: grid;
}

a {
    color: #45a29e;
    position: relative;
    left: 47%;
}

a:hover {
    color: #c5c6c7;
}